@font-face {
    font-family: miami;
    src: url(fonts/Love-Strong-personal-Use-Regular/Love\ Strong\ Personal\ Use.ttf);
}

@font-face {
    font-family: inika-bold;
    src: url(fonts/Inika/Inika-Bold.ttf);
}

/*#region standard rules*/
:root{
   /* --logoColor: #ec0498;
    --primaryColor: #f499c2;
    --secondaryColor: #54c3bc;
    --thirdColor: #ffffff; */
}

html{
    font-size: calc(16px + 0.390625vw);
    scroll-behavior: smooth;
    height: 100%; /*For body to become 100% in height*/
    overflow-x: hidden;
}

body{
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 1801px; /*for very wide screens*/
    position: relative;
    
    /*to position footer*/
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

h1{
    margin: 0;
    margin-left: 1%;
    font-weight: bold;
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    

    /*Remove this for original font*/
    /*font-family: miami;*/
    font-family: inika-bold;
    font-size: 1.5rem;
    display: inline-block;
}

h2{
    margin: 0;
    margin-top: 3.5%;
    margin-left: 3.5%;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    place-self: start left; /*for h2 affected by flex in project-squares-container*/
}

p{
    font-weight: 500;
    margin: 0 1%;
    margin-top: 1.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

li{
    font-weight: 500;
    font-size: 0.9rem;
}

a{
    color: initial;
    -webkit-user-drag: none;
}

details{
    font-weight: bold;
    font-size: 1rem;
    margin: 1%;
    margin-top: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
summary{
    cursor: pointer;
    user-select: none;
}

details p{
    margin-top: 1.5%;
    margin-left: 3.5%;
    user-select: unset;
}

button, .read-button{
    background-color: rgb(243, 243, 243);
    border: 1.8px solid black;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5%;
    transition-property: background-color;
    transition-duration: 0.05s;
    user-select: none;
}

button:hover, .read-button:hover{
    background-color: lightgrey;
}

button:active, .read-button:active{
    background-color: rgb(243, 243, 243);
}
/*#endregion*/

/*#region header with logo and palm leaves*/
header{
    width: 100%;
    height: fit-content;
    -webkit-user-drag: none;
}

#logo{
    width: 45%;
    display: block;
    aspect-ratio: initial;
    margin: auto;
    margin-top: 3%; /*before 6%*/
    margin-bottom: 2%;

    position: relative;

    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.palm-leaves{
    width: 20%; /*uncut leves*/
    aspect-ratio: initial;
    position: absolute;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    z-index: -1;
}

#palm-left{
    left: -20px;
    left: -1.3%; /*uncut leves*/
    top: 0;
}
#palm-rigth{
    right: -20px;
    right: -1.3%;  /*uncut leves*/
    top: 0;
}
/*#endregion*/

/*#region navbar*/
nav{
    background-color: #f9efe4;
    border: solid black 1.8px;
    width: 56%;
    height: 40px;
    margin: auto;
    padding: 0 2% 0 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav p{
    margin: 0;
}
/*#endregion*/

/*#region information sections*/
/*base*/
.information-section{
    width: 60%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    border: 1.5px solid black;
    background-color: #f9efe4;
    width: 59%;
    padding: 0 0.5% 0.5% 0.5%;
}

/*adds a black border*/
.content-border-div{
    border: 1.5px solid black;
    padding: 1% 0 1% 0%;
}

/*contains the X-button, the lines and the logo at the top of the section*/
.section-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.x-icon{
    aspect-ratio: initial;
    width: 2.5%;
    margin: 1% 1% 0.5% 0;
    padding: 0.2%;
    border: 1.5px solid black;
    -webkit-user-drag: none;
    user-select: none;
    cursor: pointer;
}

.x-icon:active{
    background-color: #e1dad2;
}

/*Necessary to position hr-element as a group*/
.hr-container{
    width: 100%;
}

/*black lines*/
hr{
    height:2px;
    width: 100%;
    text-align: right;
    border-width: 0;
    margin: 0.5% 0 0.5% 0;
    /*margin-left: auto;*/
    color:black;
    background-color:black
}

/*small black logo*/
.favicon-black{
    width: 5%;
    padding: 1% 0 1% 1%;
    aspect-ratio: initial;
    -webkit-user-drag: none;
    user-select: none;
}

/*Shows text exaplaining projects in mobile*/
.show-in-mobile{
    display: none;
}

#self-image{
    user-select: none;
    -webkit-user-drag: none;
    border: 1.5px solid black;
    aspect-ratio: initial;
}
/*#endregion*/

/*#region footer*/
footer{
    position: relative;
    height: 20vh;
    /*margin-top: 24vh;*/
    margin-top: 10vh;
    z-index: 1;
    width: 100%;
}

.flamingo{
    /*width: 10%;*/
    width: 8.5%;
    aspect-ratio: initial;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    /*bottom: 10%;*/
    bottom: 14%;
}

#flamingo-left{
    left: 7%;
}

#flamingo-rigth{
    right: 5%;
}

#wave-svg{
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
}
/*#endregion*/

/*#region project squares*/

/*Container för alla rutor (används för positionering)*/
#project-square-container{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*Basen och grundregler för rutorna i sektion 2*/
.square-base{
    background-color: white;
    width: 28%;
    height: 25vw; /*Här används vw istället för % för att jag vill att elementets höjd ska vara relativt till sidans bredd*/
    height: 22vw;

    border-color: #000000;
    border-style: solid;
    border-width: 1.5px;
    box-shadow: 0px 0px 0px #000000;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    
    margin: 1%;
    margin-top: 2%;
    position: relative; /*för att placera ut .square-cover-content*/
    overflow: hidden;
    z-index: 1;
}        
/*Stilregler för h2 i rutorna*/
.text-h2-square{
    padding: 0px 10px 0px 10px;
    margin: 8% 0 0 4%;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Stilregler för span-tagg som ger text bakgrundfärg*/
.text-h2-square-markup{
    background-color: #ffffff;
    padding: 0.5%;
}
/*Stilregler för paragraferna i rutorna*/
.text-paragraph-square{
    padding: 0px 10px 0px 10px;
    font-size: 0.9rem;
    color: #000000;
}

/*Sektion i rutan med den synliga rubriken innan man hovrar med muspekaren*/
.square-content-visible{
    min-width: 100%; /*min och max används för att jag vill att sektionen alltid ska vara lika bred som .square-content*/
    max-width: 100%;
    min-height: 75%;
    max-height: 75%;
    position: absolute;
    top: 0;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-drag: none;
    
    /*Vad som händer när man hovrar med muspekaren*/
    transition-property: top;
    transition-duration: 0.2s;
}

/*background images for squares*/
#las-flores-square-background{
    background-image: url(images/las-flores.webp);
}
#kommun-square-background{
    background-image: url(images/logo.png);
}

/*Sektion i rutan med den dolda paragrafen innan man hovrar med muspekaren*/
.square-content-covered{
    min-width: 100%;
    max-width: 100%;
    min-height: 25%;
    max-height: 25%;
    position: absolute;
    bottom: 0;
    z-index: 2;

    /*Vad som händer när man hovrar med muspekaren*/
    transition-property: bottom;
    transition-duration: 0.2s;
}
/*Rutan som täcker den dolda paragrafen*/
.square-cover-content{
    background-color: #ffffff;
    border-top: 1.8px solid black;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    z-index: 3;

    display:flex;
    align-items: center;
    justify-content: center;
}
/*Knapp för att ta sig vidare till artikeln*/
.read-button{
    width: 60%;
    height: 50%;
    margin: auto;
    
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;

    /*to center text in button*/
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    /*font-family: os-heavy; - gammal font*/

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*När man hovrar med muspekaren på rutan (Detta skapar animations-effekten)*/
.square-base:hover .square-content-visible{
    top: -75%;
}
.square-base:hover .square-content-covered{
    bottom: 70%;
}
.square-base:hover{
    box-shadow: 0px 0px 15px #00f0e1;
}
/*#endregion*/

/* #region Media queries*/
    /*For really small phones (ex Iphone SE)*/
    @media screen and (max-width: 399px) {
        /*#region basic rules*/
        p{
            margin: 3.5% 3.5% 0 3.5%;
        }

        li{
            margin: 0 6% 3.5% 0;
        }

        /*details currently only used in "mina kunskaper"*/
        details{
            font-size: 1.2rem;
            margin-top: 3.5%;
            margin-left: 3.5%;
        }

        details p{
            margin-left: 3.5%;
        }

        /*hides parts of menu options in mobile view*/
        .hide-in-mobile-view{
            display: none;
        }
        /*#endregion*/

        /*#region header*/
        header{
            padding-top: 6%;
        }
        
        #logo{
            width: 75%;
            margin-top: 0;
            margin-bottom: 5%;
        }
        /*#endregion*/
      
        /*#region navbar*/
        nav{
            height: 100px;
            width: 80%;
            padding: 0;
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            flex-wrap: wrap;
        }

        /*"Visa sektion"-text*/
        nav p{
            display: none;
        }

        /*menu buttons*/
        nav button{
            width: 45%;
            aspect-ratio: initial;
            font-size: 0.8rem;
        }
        /*#endregion*/        

        /*#region information-sections*/
        main{
            padding-bottom: 0; /*to make footer keep distance from sections*/
        }

        .information-section{
            width: 80%;
            margin-top: 4%;
            padding: 0 0.8% 0.8% 0.8%;
        }

        .x-icon{
            width: 6%;
        }

        .favicon-black{
            width: 10%;
        }

        hr{
            margin: 1% 0 1% 0;
        }

        /*Shows text exaplaining projects in mobile*/
        .show-in-mobile{
            display: block;
        }

        /*self image in about section*/
        #self-image{
            width: 40%;
            float: right;
            margin: 1% 2% 0 2%;
        }
        /*#endregion*/

        /*#region project-square*/
        #project-square-container{
            width: 100%;
            height: fit-content;
        
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .square-base{
            margin: 2% auto 2% auto;
            height: unset;
            width: 70%;
            aspect-ratio: 1 / 1.4;
            transition-property: none;
        }
        /*Removes the animation from square*/
        .square-base:hover{
            top: unset;
        }
        .square-content-visible{
            transition-property: none;
            top: unset;
        }
        .square-content-covered{
            transition-property: none;
            bottom: unset;
        }
        .square-base:hover{
            box-shadow: none;
        }
        .square-base:hover .square-content-visible{
            top: initial;
        }
        .square-base:hover .square-content-covered{
            bottom: initial;
        }
        /*hides the description in the squares that cannnot be showed in mobile*/
        .text-paragraph-square{
            display: none;
        }
        /*#endregion*/
        
        /*#region footer*/
        footer{
            margin: 0;
            /*place-self: end center;*/
        }

        .flamingo{
            width: 15%;
            bottom: -0%;
        }
        #flamingo-rigth{
            right: 2%;
        }
        /*#endregion*/

    }
    /*For phones*/
    @media screen and (min-width: 400px) and (max-width: 599px){
        
        /*#region basic rules*/
        p{
            margin: 3.5% 3.5% 0 3.5%;
        }

        li{
            margin: 0 6% 3.5% 0;
        }

        /*details currently only used in "mina kunskaper"*/
        details{
            font-size: 1.2rem;
            margin-top: 3.5%;
            margin-left: 3.5%;
        }

        details p{
            margin-left: 3.5%;
        }

        /*hides parts of menu options in mobile view*/
        .hide-in-mobile-view{
            display: none;
        }
        /*#endregion*/

        /*#region header*/
        header{
            padding-top: 6%;
        }
        
        #logo{
            width: 75%;
            margin-top: 0;
            margin-bottom: 5%;
        }
        /*#endregion*/
        
        /*#region navbar*/
        nav{
            height: 100px;
            width: 80%;
            padding: 0;
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            flex-wrap: wrap;
        }

        /*"Visa sektion"-text*/
        nav p{
            display: none;
        }

        /*menu buttons*/
        nav button{
            width: 40%;
            aspect-ratio: initial;
            font-size: 1rem;
        }

        /*hides parts of menu options in mobile view*/
        nav .hide-in-mobile-view{
            display: none;
        }
        /*#endregion*/

        /*#region information-sections*/
        main{
            padding-bottom: 0; /*to make footer keep distance from sections*/
        }

        .information-section{
            width: 80%;
            margin-top: 4%;
            padding: 0 0.8% 0.8% 0.8%;
        }

        .x-icon{
            width: 6%;
        }

        .favicon-black{
            width: 10%;
        }

        hr{
            margin: 1% 0 1% 0;
        }

        /*self image in about section*/
        #self-image{
            width: 40%;
            float: right;
            margin: 1% 2% 0 2%;
        }

        /*Shows text exaplaining projects in mobile*/
        .show-in-mobile{
            display: block;
        }
        /*#endregion*/

        /*#region project-square*/
        .square-base{
            margin: 2% auto 2% auto;
            height: unset;
            width: 70%;
            aspect-ratio: 1 / 1.4;
            transition-property: none;
        }
        /*Removes the animation from square*/
        .square-base:hover{
            top: unset;
        }
        .square-content-visible{
            transition-property: none;
            top: unset;
        }
        .square-content-covered{
            transition-property: none;
            bottom: unset;
        }
        .square-base:hover{
            box-shadow: none;
        }
        .square-base:hover .square-content-visible{
            top: initial;
        }
        .square-base:hover .square-content-covered{
            bottom: initial;
        }
        /*hides the description in the squares that cannnot be showed in mobile*/
        .text-paragraph-square{
            display: none;
        }
        /*#endregion*/
        
        /*#region footer*/
        footer{
            margin: 0;
            /*place-self: end center;*/
        }

        .flamingo{
            width: 15%;
            bottom: -0%;
        }
        #flamingo-rigth{
            right: 2%;
        }
        /*#endregion*/
    }
    /*For tablet potrait up*/
    @media screen and (min-width: 600px) and (max-width: 899px) {   
        /*#region basic rules*/
        h2{
            margin: 2%;
        }
        p{
            margin: 2%;
        }

        li{
            margin: 0 6% 2% 0;
        }

        /*details currently only used in "mina kunskaper"*/
        details{
            font-size: 1.2rem;
            margin-top: 3.5%;
            margin-left: 2%;
        }

        details p{
            margin-left: 3.5%;
        }

        /*hides parts of menu options in mobile view*/
        .hide-in-mobile-view{
            display: none;
        }
        /*#endregion*/

        /*#region header*/
        header{
            padding-top: 6%;
        }
        
        #logo{
            width: 75%;
            margin-top: 0;
            margin-bottom: 5%;
        }
        /*#endregion*/
        
        /*#region navbar*/
        nav{
            height: fit-content;
            width: 80%;
            padding: 1% 0;
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            flex-wrap: wrap;
        }

        /*"Visa sektion"-text*/
        nav p{
            display: none;
        }

        /*menu buttons*/
        nav button{
            width: 40%;
            aspect-ratio: initial;
            font-size: 1rem;
            margin: 1%;
        }

        /*hides parts of menu options in mobile view*/
        nav .hide-in-mobile-view{
            display: none;
        }
        /*#endregion*/

        /*#region information-sections*/
        main{
            padding-bottom: 0; /*to make footer keep distance from sections*/
        }

        .information-section{
            width: 80%;
            margin-top: 4%;
            padding: 0 0.8% 0.8% 0.8%;
        }

        .x-icon{
            width: 4%;
        }

        .favicon-black{
            width: 6%;
        }

        hr{
            margin: 1% 0 1% 0;
        }

        /*self image in about section*/
        #self-image{
            width: 30%;
            float: right;
            margin: 1% 2% 0 2%;
        }

        /*Shows text exaplaining projects in mobile*/
        .show-in-mobile{
            display: block;
        }
        /*#endregion*/

        /*#region project-square*/
        #project-square-container{
            flex-direction: column;
        }

        .square-base{
            margin: 2% auto 2% auto;
            height: unset;
            width: 40%;
            aspect-ratio: 1 / 1.4;
            transition-property: none;
        }
        /*Removes the animation from square*/
        .square-base:hover{
            top: unset;
        }
        .square-content-visible{
            transition-property: none;
            top: unset;
        }
        .square-content-covered{
            transition-property: none;
            bottom: unset;
        }
        .square-base:hover{
            box-shadow: none;
        }
        .square-base:hover .square-content-visible{
            top: initial;
        }
        .square-base:hover .square-content-covered{
            bottom: initial;
        }
        /*hides the description in the squares that cannnot be showed in mobile*/
        .text-paragraph-square{
            display: none;
        }
        /*#endregion*/
        
        /*#region footer*/  
        footer{
            margin: 0;
            margin-top: 8%;
            /*place-self: end center;*/
        }

        .flamingo{
            width: 15%;
            bottom: -0%;
        }
        #flamingo-rigth{
            right: 2%;
        }
        /*#endregion*/
    }

    /*Breakpoint for mobile version of site*/

    /*For tablet landscape up + small computers*/
    @media screen and (min-width: 900px) {   

        /*#region navbar*/
        nav{
            width: 58%;
            padding: 0 1% 0 1%;
        }
        
        /*"Visa sektion"-text*/
        #navbar p{
            font-size: 0.7rem;
        }

        /*navigation buttons*/
        #navbar button{
            font-size: 0.6rem;
            margin-left: 1%;
            margin-right: 1%;
        }
        /*#endregion*/

        /*#region project-squares*/
        /*h2 in squares*/
        .text-h2-square{
        padding: 0px 10px 0px 10px;
        font-size: 1.2rem;
        }

        /*the text/paragraphs in squares*/
        .text-paragraph-square{
            font-size: 0.8rem;
        }

        /*show-project button*/
        .read-button{
            font-size: 1rem;
        }

        /*self image in about section*/
        #self-image{
            width: 30%;
            float: right;
            margin: 1% 2% 0 1%;
        }
        /*#endregion*/
    }
    /*For desktop up*/
    @media screen and (min-width: 1200px) {   
        /*#region navbar*/
        nav{
            width: 58%;
            padding: 0 1% 0 1%;
        }

        /*"Visa sektion"-text*/
        #navbar p{
           font-size: 1rem;
        }

        /*navigation buttons*/
        #navbar button{
            font-size: 0.65rem;
            margin-left: 1%;
            margin-right: 1%;
        }
        /*#endregion*/

        /*#region project-squares*/
        /*h2 in squares*/
        .text-h2-square{
        padding: 0px 10px 0px 10px;
        font-size: 1.5rem;
        }

        /*the text/paragraphs in squares*/
        .text-paragraph-square{
            font-size: 0.9rem;
        }

        /*show-project button*/
        .read-button{
            font-size: 1rem;
            /*padding-top: 2%;*/
        }
        /*#endregion*/
    }
    /*For big desktop*/
    @media screen and (min-width: 1800px) {
        /*#region navbar*/
        nav{
            width: 58%;
            padding: 0 1% 0 1%;
        }

        /*"Visa sektion"-text*/
        #navbar p{
           font-size: 1rem;
        }

        /*navigation buttons*/
        #navbar button{
            font-size: 0.6rem;
            margin-left: 1%;
            margin-right: 1%;
        }
        /*#endregion*/

        /*#region project-squares*/
        /*h2 in squares*/
        .text-h2-square{
        padding: 0px 10px 0px 10px;
        font-size: 1.5rem;
        }

        /*the text/paragraphs in squares*/
        .text-paragraph-square{
            font-size: 0.9rem;
        }

        /*show-project button*/
        .read-button{
            font-size: 1rem;
            padding-top: 2%;
        }
        /*#endregion*/

        body{
            border: 1.5px solid black;
            width: 100%;
            margin: auto;
        }
    }
/*#endregion*/